.header-logo {
  color:#fff;
  font-size:1.5em;
  text-decoration:none;
  display: block;
  float: left;
  width: 100%;

  @include mq(720){
    display: block;
    float: left;
    width: 50%;
    text-align:left;
  }
}