// #Basic Styles
// Only root elements are allowed in this file. No classes or ID's
body { font-size: 1em; line-height: 1.5; background-color: white; font-family: $helvetica-neue-font-stack;}

// You should DEFINITELY understand what box-sizing: border-box; does: http://css-tricks.com/box-sizing/
html { box-sizing: border-box; }
 *, *:before, *:after { box-sizing: inherit; }

header, nav, main, footer {
  clear: both;
  display: table;
  width: 100%;
}
