<p>
    Thank you for using this service. Your request will initiate the purchase of this book for your use. This is a process, which can take up to 3 weeks before the book is available in the library. We will notify you when it is available for pick up at the library you indicated. If you require the book sooner, please place your request through ILL. <a href="https://illiad.lib.wvu.edu/illiad.dll/OpenURL">https://illiad.lib.wvu.edu/illiad.dll/OpenURL</a> This request will need to populate just like an ILL request in the catalog).
</p>