/*********************************************************************
    Variables
**********************************************************************/

$default: #eee;
$gray-text: #aaa;
$light-gray: $default;
$font-color:#666;
$disabled-color: #666; 

// Web Application Colors
$link-color: #009bff;
$notice: #29abe0;
$error: #d9534f;
$success: #93c54b;
$warning: #f47c3c;

$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Font Colors
$action-color: $link-color;
$base-accent-color: #005EB8 !default;

// Link Colors
$base-link-color: $base-accent-color !default;
$base-button-color: $base-link-color !default;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Custom Existing Vars
$border: $base-border;

// Breakpoints
$bp-micro: 340 !default;
$bp-mini: 450 !default;
$bp-small: 570 !default;
$bp-medium: 768 !default;
$bp-large: 960 !default;
$bp-xlarge: 1200 !default;
$bp-jumbo: 1720 !default;

// Font Sizes
$base-font-size: .8em;

// Font
$helvetica-neue-font-stack: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;

